.list{
    list-style-type: disc;
}
/*.list1{
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}*/
ol{
   list-style-type: lower-greek;
   list-style-position: outside;
    background-color: lightcoral;
}
li{
    background-color: burlywood;
    padding: 5px;
    margin: 2px;
}
a{
    text-decoration: none;
    background-color: burlywood;
    opacity: 0.3;
    margin-top: 5px;
    display: inline-block;
    border-radius: 0 5px 0 5px;
    padding: 10px;
    border: 2px solid green;
}
a:link{
    color: green;
}
a:visited{
    color: red;
}
a:hover{
    opacity: 1;
    background-color: black;
    color: white;
}
a:active{
    background-color: gray;
}
table{
    width: 50%;
    empty-cells: show;
}
table,th,td{
    border: 2px solid green;
    border-collapse: collapse;
}
th{
    height: 50px;
}
td{
    height: 50px;
    text-align: center;
    vertical-align: top;
}
tr:hover{ /*nth-child(odd)*/
    background-color: aqua;
}